node_modules/
coverage/
test/

.DS_Store
.editorconfig
.gitattributes
.gitignore
.jshintrc
.travis.yml
.zuul.yml
.yo-rc.json

npm-debug.log
Gruntfile.js
bower.json

kommunkoder.js
kommunkoder.min.js

*.sublime-project
*.sublime-workspace

TODO.md
